@font-face {
    font-family: impact;
    src: url(/fonts/impact/impact.ttf);
}

@font-face {
    font-family: anton-regular;
    src: url(../fonts/anton-regular/Anton-Regular.ttf);
}


/* BASE */

html {
    font-family: playfair, serif;
    color: #626262;
    line-height: 1.5;
}

body {
    margin: 0;
    font-size: .875rem;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0;
    font-weight: 400;
    line-height: 1.2;
    display: inline-block;
}

h2 {
    font-size: 2.142em;
}

p {
    margin: 0 0 1em;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

button {
    cursor: pointer;
}


/* Components */


/* header */

.main-header {
    background-color: #a7c4bc;
}

.logo {
    width: 7.625rem
}

.header-nav {
    height: 4.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
}

.side-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav-btn {
    border: none;
    background-color: inherit;
    font-size: inherit;
    color: #2f5d62;
    display: block;
    height: 100%;
    cursor: pointer;
    font-family: anton-regular;
    font-size: 2.5625rem;
}

.header-nav-btn:hover {
    color: #dfeeea;
}

.search-container {
    display: flex;
    height: 6.25rem;
    align-items: center;
    display: flex;
    gap: 4.125rem;
    height: 100%;
    font-family: 'impact';
    padding: 1rem;
}

.search-input {
    display: inline;
    align-items: center;
    height: 1.31rem;
    border: 1px solid lightgray;
    padding: 0.2rem;
    border-radius: 0.875rem;
    padding-left: 1.25rem;
}

.curr-page {
    border-bottom: 4px solid #2f5d62;
    color: #2f5d62;
}

.galery-container {
    display: block;
    background-color: #e3e3e3;
    padding: 0.93rem;
}

.imges-container {
    display: grid;
    gap: 0.93rem;
    grid-template-columns: repeat(4, 1fr);
}

.galery-img {
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    border: 1px solid #2f5d62;
}

.search-galery-wrapper {
    position: relative;
    width: 12.5rem;
}

.search-galery-icon {
    position: absolute;
    width: 11%;
    top: 0.25rem;
    left: 10.06rem;
}

.words-wrapper {
    /* border: 1px solid black; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* editor */

.main-meme-editor-container {
    display: none;
    background-color: #e3e3e3;
}

.meme-editor-container {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    align-items: center;
    height: 28.125rem;
}

.canvas-container {
    display: flex;
}

.action-btn {
    background-color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.625rem;
    height: 2.93rem;
    width: 2.93rem;
    font-size: 1.25rem;
    margin: 0.2em;
    position: relative;
}

.download-btn {
    background-color: #2f5d62;
    height: 3.625rem;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 0.25em;
    border: none;
    border-radius: 0.9em;
    font-size: 1.25rem;
    width: 7.4em;
}

.btns-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.625rem;
}

.color-input {
    opacity: 0;
    width: 1px;
    position: absolute;
}

.stroke-color-input {
    opacity: 0;
    width: 1px;
    position: absolute;
}

.fonts-input {
    padding: 0.625rem;
    border-radius: 0.5625rem;
    border: none;
}

.txt-input {
    border: none;
    height: 1.75rem;
    border-radius: 0.312rem;
    padding-left: 1rem;
}


/* footer */

.footer {
    background-color: #a7c4bc;
    height: 4.125rem;
}


/* Layout */

.main-layout {
    max-width: 1108px;
    margin: 0 auto;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}

@media (max-width: 1170px) {
    .imges-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .header-nav-btn {
        font-size: 1.9rem;
    }
}

@media (max-width: 722px) {
    .meme-editor-container {
        flex-direction: column;
        height: 52.125rem;
        height: 100%;
        overflow: hidden;
    }
    .search-container {
        flex-direction: column;
        gap: 0;
    }
    .search-input {
        margin-bottom: 0.68rem;
    }
    .imges-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .words-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}